html {

}
#hide{
  display: none;
}
#show {
  display: none;
}
.juttu {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color: #ffffff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container{
  width:960px;
  margin:auto;
  
}
.containerh1 {
  font-size: 50px;
  padding-bottom: 20px;
  font-variant: small-caps;
  text-align: center;
  margin-bottom: -20px;
  font-family:  "Comic Sans MS",  sans-serif;

}
.container2{
  width:65%;
  overflow:hidden;
  color: black;
  background-color: #ffe8fe;
  padding: 20px;


}
.container3{
  margin-top: 20px;
  width:65%;
  overflow:hidden;
  color: black;
  background-color: #e8fbff;
  padding: 20px;
  display: block;

}

.container4{
  margin-top: 20px;
  width:65%;
  overflow:hidden;
  color: black;
  background-color: #e9ffe8;
  padding: 20px;


}

.container5{
  margin-top: 20px;
  width:65%;
  overflow:hidden;
  color: black;
  background-color: #ffe8e8;
  padding: 20px;


}
.sidecontainer{
    width:250px;
    float: right;
    overflow:hidden;
    color: black;
    background-color:  #e8fbff;
    padding: 20px, 20px;
    margin-top: -270px;

}
.sidecontainer li {
    text-decoration: none;
    color: black;
    text-align: left;
    font-size: 15px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
  .sidecontainer a {
    text-decoration: none;
    color: black;
    font-size: 15px;

  }
.pikalinkit {
  color: darkgray;
  background-color: #cefff2;
  font-variant: small-caps;
  margin-left: auto;
  text-align: center;
  margin-top: 0;
  font-size: 25px;

}
#yhteystiedot{
  width:960px;
  margin:auto;
  padding-bottom: 500px;
  color: black;
}
.maps {
  padding: 20px 20px;
  display: block;
  }
.yhteystiedot{
  margin-top: 20px;
  margin-right: 50px;
  float: right;
}
.yhteystiedotpirtti{
  display: block;
  font-size: 15px;

  }

.yhteystiedotmoisio{
  display: block;
  font-size: 15px;

  }

  select #linkit {
    font-size: 20px;
    color: black;
    text-align: center;
    background-color: #e8fbff;
    margin: auto;
    border: 0;
    width: 250px;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;

    -webkit-appearance: none;
      -moz-appearance: none;

      text-overflow: '';
  }
  select.minimal  #linkit{
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus #linkit{
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: gray;
  outline: 0;
}

.container3 p{
  display: block;
}
select:-moz-focusring #linkit{
  color: transparent;
  text-shadow: 0 0 0 #000;
}

h3 {
  font-size: 20px;
  font-style: bold;
  color: gray;
    }

ul{
  margin:0;
  padding:0;
}

.container h1 {
  color: gray;
}
header{
  width:960px;
  margin:auto;
}

header a{
  color: #979797;
  text-decoration: none;
  text-transform: uppercase;
  font-size:15px;
}
header .highlight, header .current a{
  color:#000;

}

header a:hover{
  color:#000;

}

header li{
  margin: auto;
  display:inline;

}
header #title p{
  float: right;
  font-size: 10px;

}
header #title h1{
  color: #979797;
}

header nav{
  color: #979797;
  text-align: center;
  padding-bottom: 25px;
}

nav ul li {display: inline-block; }

li.tab1{
  background-color: #ffcee3;
  padding: 20px;
  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
  transform: rotate(-8deg);

}
/*
li.tab2{
  background-color: #ceeaff;
  padding: 20px;
  -ms-transform: rotate(8deg); /* IE 9 */
/*  -webkit-transform: rotate(8deg); /* Chrome, Safari, Opera */
/*  transform: rotate(8deg);
}
/*
li.tab3{
  background-color: #cefff2;
  padding: 20px;
  -ms-transform: rotate(-6deg); /* IE 9 */
/*  -webkit-transform: rotate(-6deg); /* Chrome, Safari, Opera */
/*  transform: rotate(-6deg);
} */

li.tab4{
  background-color:#ceffcc;
  padding: 20px;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
}

li.tab5{
  background-color: #dcceff;
  padding: 20px;
  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
  transform: rotate(-8deg);
}

li.tab6{
  background-color: #ffdcce;
  padding: 20px;
  -ms-transform: rotate(5deg); /* IE 9 */
  -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
  transform: rotate(5deg);
}

.dropdown {
  z-index: 85;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: -30px;
}

.dropdown-content a {
    background-color: #dcceff;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

header nav{
  color: #979797;
  text-align: center;
  padding-bottom: 25px;
}

nav ul li {display: inline-block; }


#showcase{
  width:960px;
  margin:auto;
}
#boxes{
  width:960px;
  margin:auto;
  padding-bottom: 500px;
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
	background-color:#ffffff;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:11px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
	background-color:#ffffff;
}
.myButton:active {
	position:relative;
	top:1px;
}


footer{
  color:#ffffff;
  background-color:#333;
  text-align: left;
  width:960px;
  height: 100px;
  margin: auto;
}
footer p {
    padding:20px;
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.dropbtn {
	background-color:#ffe8fe;;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
  border: 0;
	text-decoration:none;
}
.dropbtn:hover {
	background-color:##ffe8fe;;
}
.dropbtn:active {
	position:relative;
	top:1px;
}
#kartalla {
  display: none;
}

@media screen and (max-width: 800px) {
.maps {max-width: 100vw;}
.mappi {
display: none;

}
.yhteystiedot {
  float: left;

}

#yhteystiedot{
  width:100vw;
  padding-bottom: 800px;
  color: black;
}
  #showcase {
    display: none;
  }
  #juuj {
    display: none;
  }
  #kartalla {
    background: #a1ff9c;
    background-image: -webkit-linear-gradient(top, #a1ff9c, #a1ff9c);
    background-image: -moz-linear-gradient(top, #a1ff9c, #a1ff9c);
    background-image: -ms-linear-gradient(top, #a1ff9c, #a1ff9c);
    background-image: -o-linear-gradient(top, #a1ff9c, #a1ff9c);
    background-image: linear-gradient(to bottom, #a1ff9c, #a1ff9c);

    font-family: Arial;
    color: #424242;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
  }

  #kartalla:hover {
    background: #d3ffcf;
    text-decoration: none;
  }
#kartalla {
  display: block;
}
.dropdown-content {
    display: none;
    position: static;
    background-color: #333;
    min-width: 100px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
    margin-left: 5px;
}

.dropdown-content a {
    background-color: #dcceff;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  hr.style-two {
      display: none;
  }

  header #title p{

    font-size: 10px;
  }

  header li{
    margin: auto;
  }

  header nav{
    width: 100vw;
    color: #979797;

  }

  header{
    width: 100vw;
  }

  li.tab1{
    float: left;
    background-color: #ffcee3;
    padding: 10px;
    width: 95vw;
    text-align: left;
    font-size: 20px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }

  li.tab2{

    background-color: #ceeaff;
    padding: 10px;
    float: left;
    width: 95vw;
    text-align: left;
    font-size: 20px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    }

  li.tab3{
    background-color: #cefff2;
    padding: 10px;
    float: left;
    width: 95vw;
    text-align: left;
    font-size: 20px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    }

  li.tab4{
    background-color: #fff9ce;
    padding: 10px;
    float: left;
    width: 95vw;
    text-align: left;
    font-size: 20px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    }

  li.tab5{
    background-color: #dcceff;
    padding: 10px;
    float: left;
    width: 95vw;
    text-align: left;
    font-size: 20px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    }

  li.tab6{
    background-color: #ffdcce;
    padding: 10px;
    float: left;
    width: 95vw;
    text-align: left;
    font-size: 20px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    }

  .container{
    width:100%;
   }

   .container2{
     width:91vw;
     overflow:hidden;
     color: black;
     background-color: #ffe8fe;
     font-size: 15px;
  display: block;


   }

   .container3{
      background-color: #e8fbff;
      width:91vw;
      overflow: hidden;
      color: black;
      display: block;

    }

    .container4{
      width:91vw;
      overflow:hidden;
      color: black;
      background-color: #e9ffe8;
      padding: 20px;


    }

    .container5{
      width:91vw;
      overflow:hidden;
      color: black;
      background-color: #ffe8e8;
      padding: 20px;


    }
    .sidecontainer{
      width:91vw;
      overflow:hidden;
      color: black;
      background-color: #ffe8e8;
      padding: 20px;

    }
    .container3 p {
      margin-right: 20px;
      float: left;
    }
    .container2 p {
      margin-right: 20px;
      float: left;
    }

  .imgjuttu{
    display: none;
  }

  .containerh1{
    display: none;
  }



  #showcase{
    width: 100vw;

  }
  #boxes{
    width: 100vw;
    padding-bottom: 10px;
  }

  footer{
    color:#ffffff;
    background-color:#333;
    width: 100vw;
    height: 100px;

  }
  #hide {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
	background-color:#ffffff;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
	padding:8px 8px;
	text-decoration:none;
}
  #hide:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
	background-color:#ffffff;
}
  #hide:active {
	position:relative;
	top:1px;
}



  #hide{
    display: block;
  }


}
