body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-image: url("../img/tausta.png");
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  
}
h5 {
  color: white;
  font-variant: small-caps;
  font-size: 25px;
  padding-left: 5px;
  margin: 0;
  text-orientation: upright;
  writing-mode: vertical-rl;
}

h6 {
  color: white;
  font-variant: small-caps;
  font-size: 25px;
  margin: 0;
}
svg {padding-top: 20px;}
 
.container{
  width:auto;
  margin:auto;

}
.containerh1 {
  font-size: 50px;
  padding-bottom: 20px;
  font-variant: small-caps;
  text-align: center;
  margin-bottom: -20px;
  font-family:  "Comic Sans MS",  sans-serif;

}
.container2{
  max-width: 960px;
  height: auto;
  overflow:hidden;
  color: black;
  background-color:  rgba(255, 0, 109, 0.48);
  padding: 20px;



}

/* .header_img {
  width: 60%;
  margin:auto;
  padding-top: 20px;
}
.header_img img{
  width: 60%;

} */

.header {
	overflow: hidden;
}

.header_img img {
  width: 20%;
  height: 10%;
	float: left;
}

.header_img {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
  font-size: 0;
  

}

.paivahoitohakemus {
  margin: auto;
  max-width: 960px;
  border-radius: 2px;
  background-color: #f2f2f2;
  padding: 15px;
  margin-bottom: 500px;
}

.side-nav{
  color: #fff;
  height:415px;
  padding-bottom: 25px;
  width:0;
  position:fixed;
  z-index:1;
  left:0;
  opacity: 0;
  background-color:rgba(0, 0, 0, 0.2);
  overflow-x:hidden;
  padding-top:6px;
  padding-left: 15px;
  transition:0.8s;
  list-style: none;
  text-align: left;
  text-decoration: none;
  
 

}
.side-nav a:hover{
  color:#fff;
}
.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}
.side-nav a{
  color: #000;
  text-decoration: none;
}
 
.pikalinkit {
  position: fixed;
  left: 0;
  opacity: 100%;
 	background-color:rgba(0, 0, 0, 0.2);
	color:#fff;
  width: 45px;
  height: 415px;
  transition:0.2s;
  cursor: pointer;

  
	}

 



.container3{
  margin-top: 20px;
  max-width: 960px;
  height: auto;
  overflow:hidden;
  color: black;
  background-color: rgba(133, 255, 0, 0.48);
  padding: 20px;
  display: block;
}

.container4{
  margin-top: 20px;
  max-width: 960px;
  height: auto;
  overflow:hidden;
  color: black;
  background-color: rgba(0, 196, 196, 0.48);
  padding: 20px;


}

.container5{
  margin-top: 20px;
  max-width: 960px;
  height: auto;
  overflow:hidden;
  color: black;
  background-color: rgba(255, 235, 0, 0.48);
  padding: 20px;


}
.kuvat {
  padding: 5px;
  max-width: 1800px;
  margin: auto;
  overflow: auto;

}

::-webkit-scrollbar-button{ display: block; height: 13px; border-radius: 0px; background-color: #ffffff; } ::-webkit-scrollbar-button:hover{ background-color: #ffffff; } ::-webkit-scrollbar-thumb{ background-color: #606060; } ::-webkit-scrollbar-thumb:hover{ background-color: #808080; border-radius: 0px; } ::-webkit-scrollbar-track{ background-color: #efefef; } ::-webkit-scrollbar-track:hover{ background-color: #CCC; } ::-webkit-scrollbar{ width: 5px; }
.style-two hr {
  margin: 0;
  color: rgb(46, 46, 46)
}

ul.d {list-style-type: square;}
li.f {list-style-type: square;}

ul  {list-style-type: square;}

#flip {cursor: pointer;}

.lataakuva {
max-width: 300px;
max-height: 500px;

}
.css-input {
     padding: 6px;
     font-size: 20px;
     border-width: 0px;
     border-color: #DADADA;
     background-color: #f9f9f9;
     color: #000000;
     border-style: solid;
     border-radius: 4px;
     box-shadow: 0px 0px 3px rgba(66,66,66,.75);
     text-shadow: undefined 0px 0px 5px px rgba(66,66,66,.75);
     /* height: ; */
}
 .css-input:focus {
     outline:none;
}
.link-input{
  box-sizing: border-box;
  padding: 6px;
  font-size: 15;
  border-width: 1px;
  border-color: #DADADA;
  background-color: #f9f9f9;
  color: #000000;
  border-style: solid;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(66,66,66,.75);
  text-shadow: undefined 0px 0px 5px px rgba(66,66,66,.75);
  margin: auto;
}
.link-input a{
  padding: 2px;
  margin: 4px;
}

.link-input:focus {
  outline:none;
}

#myBtn {
display: none;
position: fixed;
/*bottom: 20px */
right: 30px;
z-index: 99;
border: none;
outline: none;
color: white;
cursor: pointer;
padding: 15px;
content: ▲;
}
#myBtn:hover {
background-color: gray;
}

.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: #333;
margin: 6px 0;
transition: 0.4s;
}
.change .bar1 {
-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change .bar2 {opacity: 0;}
.change .bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
transform: rotate(45deg) translate(-8px, -8px) ;
}
#yhteystiedot{
  width:960px;
  margin:auto;
  padding-bottom: 500px;
  color: black;
}
.maps {
  padding: 20px 20px;
  display: block;
  }
.yhteystiedot{
  margin-top: 20px;
  margin-right: 10px;
  float: right;
}
.yhteystiedotpirtti{
  display: block;
  font-size: 15px;

  }

.yhteystiedotmoisio{
  display: block;
  font-size: 15px;

  }

  select #linkit {
    font-size: 20px;
    color: black;
    text-align: center;
    background-color: #e8fbff;
    margin: auto;
    border: 0;
    width: 250px;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;

    -webkit-appearance: none;
      -moz-appearance: none;

      text-overflow: '';
  }
  select.minimal  #linkit{
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus #linkit{
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: gray;
  outline: 0;
}

.container3 p{
  display: block;
}
select:-moz-focusring #linkit{
  color: transparent;
  text-shadow: 0 0 0 #000;
}

h3 {
  font-size: 20px;
  font-style: bold;
  color: gray;
    }

ul{
  margin:0;
  padding: 0;
}

.container h1 {
  color: gray;
}
header{
  width:960px;
  margin:auto;
}

header a{
  color: #979797;
  text-decoration: none;
  text-transform: uppercase;
  font-size:15px;
}
header .highlight, header .current a{
  color:#000;

}

header a:hover{
  color:#000;

}

header li{
  margin: auto;
  display:inline;

}
header #title p{
  float: right;
  font-size: 10px;

}
header #title h1{
  color: #979797;
}

header nav{
  color: #979797;
  text-align: center;
  padding-bottom: 25px;
}

nav ul li {display: inline-block; }

li.tab1{
  background-color:  rgba(255, 0, 109, 0.48);
  padding: 20px;
 /* -ms-transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg); 
  transform: rotate(-8deg); */

}
/*
li.tab2{
  background-color: #ceeaff;
  padding: 20px;
  -ms-transform: rotate(8deg); /* IE 9 */
/*  -webkit-transform: rotate(8deg); /* Chrome, Safari, Opera */
/*  transform: rotate(8deg);
}
/*
li.tab3{
  background-color: #cefff2;
  padding: 20px;
  -ms-transform: rotate(-6deg); /* IE 9 */
/*  -webkit-transform: rotate(-6deg); /* Chrome, Safari, Opera */
/*  transform: rotate(-6deg);
} */

li.tab4{
  background-color: rgba(133, 255, 0, 0.48);
  padding: 20px;
  width: 150px;
}

li.tab5{
  background-color: rgba(0, 196, 196, 0.48);
  padding: 20px;
  width: 150px;
}

li.tab6{
  background-color: rgba(255, 235, 0, 0.48);
  padding: 20px;
  width: 150px;
}

.dropdown {
  z-index: 85;
  width: 150px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: -30px;
    z-index: 1;
}

.dropdown-content a {
    background-color: #85e3e3;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 1;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

header nav{
  color: #979797;
  text-align: center;
  padding-bottom: 25px;
}

nav ul li {display: inline-block; }
  #pikalinkit {
    
  
  
  }

#showcase{
  width:960px;
  margin:auto;
}
#boxes{
  width:960px;
  margin:auto;
  padding-top: 20px;
  padding-bottom: 500px;
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
	background-color:#ffffff;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:11px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
	background-color:#ffffff;
}
.myButton:active {
	position:relative;
	top:1px;
}


footer{
  color: #333;
  background-color: #a5a5a51a;
  text-align: left;
  width: 100%;
  height: 200px;
  margin: auto;
  clear:both;

  /* padding-top: 60px; */
}
footer p {
    padding:20px;
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.dropbtn {
	background-color:#ffe8fe;;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
  border: 0;
	text-decoration:none;
}
.dropbtn:hover {
	background-color:#ffe8fe;;
}
.dropbtn:active {
	position:relative;
	top:1px;
}
#kartalla {
  display: none;
}



#kuva {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  background: #00000071;
  border-radius: 7px;

}

#kuva:hover {
  border: 1px solid #777;
}

#kuva img {
  width: 90%;
  height: auto;
  border-radius: 7px;

}

#desc {
  padding: 5px;
  text-align: left;
  font-size: 12px;
  margin: 0%;
}

input[type=text], select  {

  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email], select  {

  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


textarea{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }

  input[type=submit] {
  background-color: darkgray;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 60%;
  transition: all 0.5s ease 0s;
  font-size: 20px;
  }
  input[type=submit]:hover {
    background-color:#54ff62;
  }

  input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  #hide{
    display:  none;
  }






 /* PUHELINMOBIILIMEDIAMIKÄLIEALKAATÄSTÄ ------------------------------------------------------------------------- */


















@media screen and (max-width: 960px) {
.maps {max-width: 100vw;}
.mappi {
display: none;

}
.yhteystiedot {
  float: left;

}

#yhteystiedot{
  width:100vw;
  padding-bottom: 800px;
  color: black;
}
  #showcase {
    display: none;
  }
  #juuj {
    display: none;
  }
  #kartalla {
    background: #a1ff9c;
    background-image: -webkit-linear-gradient(top, #a1ff9c, #a1ff9c);
    background-image: -moz-linear-gradient(top, #a1ff9c, #a1ff9c);
    background-image: -ms-linear-gradient(top, #a1ff9c, #a1ff9c);
    background-image: -o-linear-gradient(top, #a1ff9c, #a1ff9c);
    background-image: linear-gradient(to bottom, #a1ff9c, #a1ff9c);

    font-family: Arial;
    color: #424242;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
  }

  #kartalla:hover {
    background: #d3ffcf;
    text-decoration: none;
  }
#kartalla {
  display: block;
}
.dropdown-content {
    display: none;
    position: static;
    background-color: #333;
    width: 100%;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
    margin-left: 5px;
    z-index: 1;
}

.dropdown-content a {
    background-color: #85e3e3;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 1;
}
  hr.style-two {
      display: none;
  }

  header #title p{

    font-size: 10px;
  }

  header li{
    margin: auto;
  }

  header nav{
    width: 100vw;
    color: #979797;

  }

  header{
    width: 100vw;
  }

  .sidecontainer {
    border-radius: 0px 70px 30px 0px;
    color: #000000;
    list-style: none;
    text-align: left;
    text-decoration: none;
    background-color:rgba(0, 0, 0, 0.2);
    margin-left: auto;
    float: left;
    max-width: 250px;
    position: fixed;
    height: auto;
    max-height: 700px;
    padding-bottom: 25px;
  
  }

  li.tab1{

    background-color: rgba(255, 0, 109, 0.48);
    width: 95vw;
    
    font-size: 25px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }

  li.tab2{

    background-color: #ceeaff;
    padding: 10px;
    float: left;
    width: 95vw;
    
    font-size: 20px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    }

  li.tab3{
    background-color: #cefff2;
    padding: 10px;
    float: left;
    width: 95vw;
    
    font-size: 20px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    }

  li.tab4{
    background-color: rgba(133, 255, 0, 0.48);
    width: 95vw;
    
    font-size: 25px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    }

  li.tab5{
    background-color: rgba(0, 196, 196, 0.48);
    width: 95vw;
   
    font-size: 25px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    }

  li.tab6{
    background-color: rgba(255, 235, 0, 0.48);
    width: 95vw;
    
    font-size: 25px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    }

  .container{
    width:100%;
   }

   .container2{
     width:100vw;
     overflow:hidden;
     color: black;
     background-color:  rgba(255, 0, 109, 0.48);
     font-size: 15px;
     display: block;


   }

   .container3{
      background-color: rgba(133, 255, 0, 0.48);
      width:100vw;
      overflow: hidden;
      color: black;
      display: block;

    }

    .container4{
      width:100vw;
      overflow:hidden;
      color: black;
      background-color: rgba(0, 196, 196, 0.48);
      padding: 20px;


    }

    .container5{
      width:100vw;
      overflow:hidden;
      color: black;
      background-color: rgba(255, 235, 0, 0.48);
      padding: 20px;


    }
    .container2 p {
      margin-right: 20px;
      float: left;
      font-size: 17px;
    }
    .container3 p {
      margin-right: 20px;
      float: left;
      font-size: 17px;
    }
    .container4 p {
      margin-right: 20px;
      float: left;
      font-size: 17px;
    }
    .container5 p {
      margin-right: 20px;
      float: left;
      font-size: 17px;
    }


  .imgjuttu{
    display: none;
  }

  .containerh1{
    display: none;
  }



  #showcase{
    width: 100vw;

  }
  #boxes{
    width: 100vw;
    padding-bottom: 10px;
  }

  #hide {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
	background-color:#ffffff;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
	padding:8px 8px;
	text-decoration:none;
}
  #hide:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
	background-color:#ffffff;
}
  #hide:active {
	position:relative;
	top:1px;
}
  #hide{
    display: block;
  }

  .kuvat {
    padding: 10px;
    width: 100%;
    min-height: 200px;
     overflow: auto;

    
  }

  footer{
    color:#333;
    background-color:#14141463;
    width: 100vw;
    height: 100px;

  }

  #kuva {
    width: 4  0%;
    font-size: 10px;
    
  }
  #kuva p{
    text-align: left;
    margin: auto ;
  }

  #desc a{
    width: 20%;
    margin: 0px;


  }

  #kuva {
    width: 30%;

  }
  .lataakuva{
    /* float: left;  */
  }
  .link-input {
    width: 80%;
  }
}
