html {

}
#hide{
  display: none;
}
#show {
  display: none;
}
body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color: #ffffff;
}

.container{
  width:960px;
  margin:auto;
}
.containerh1 {
  font-size: 70px;
  font-variant: small-caps;
  text-align: center;
  margin-bottom: -20px;
}
.container2{
  width:65%;
  overflow:hidden;
  color: black;
  background-color: #ffe8fe;
  padding: 20px;


}
.container3{
  margin-top: 20px;
  width:65%;
  overflow:hidden;
  color: black;
  background-color: #e8fbff;
  padding: 20px;


}
.container4{
  margin-top: 100px;
  width:960px;
  overflow:hidden;
  color: black;
  background-color: #e8fbff;
  padding: 20px;


}
.sidecontainer{
  width:250px;
  float: right;
  overflow:hidden;
  color: black;
  background-color: #ffe8fe;
  padding: 20px;
  margin-top: -270px;


}
ul{
  margin:0;
  padding:0;
}


header{
  width:960px;
  margin:auto;
}

header a{
  color: #979797;
  text-decoration: none;
  text-transform: uppercase;
  font-size:15px;
}
header .highlight, header .current a{
  color:#000;

}

header a:hover{
  color:#000;

}

header li{
  margin: auto;
  display:inline;

}
header #title p{
  float: right;
  font-size: 10px;

}
header #title h1{
  color: #979797;
}

header nav{
  color: #979797;
  text-align: center;
  padding-bottom: 25px;
}

nav ul li {display: inline-block; }

li.tab1{
  background-color: #ffcee3;
  padding: 20px;
  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
  transform: rotate(-8deg);

}

li.tab2{
  background-color: #ceeaff;
  padding: 20px;
  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
  transform: rotate(-8deg);
}

li.tab3{
  background-color: #cefff2;
  padding: 20px;
  -ms-transform: rotate(6deg); /* IE 9 */
  -webkit-transform: rotate(6deg); /* Chrome, Safari, Opera */
  transform: rotate(6deg);
}

li.tab4{
  background-color: #fff9ce;
  padding: 20px;
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
}

li.tab5{
  background-color: #dcceff;
  padding: 20px;
  -ms-transform: rotate(8deg); /* IE 9 */
  -webkit-transform: rotate(8deg); /* Chrome, Safari, Opera */
  transform: rotate(8deg);
}

li.tab6{
  background-color: #ffdcce;
  padding: 20px;
  -ms-transform: rotate(-5deg); /* IE 9 */
  -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
  transform: rotate(-5deg);
}

.dropdown {
  z-index: 85;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    background-color: #dcceff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
#showcase{
  width:960px;
  margin:auto;
}
#boxes{
  width:960px;
  margin:auto;
  padding-bottom: 500px;
}

footer{
  color:#ffffff;
  background-color:#333;
  text-align: left;
  width:960px;
  height: 100px;
  margin: auto;
}
footer p {
    padding:20px;
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


@media screen and (max-width: 480px) {

  hr.style-two {
      display: none;
  }

  header #title p{

    font-size: 10px;
  }

  header li{
    margin: auto;
  }

  header nav{
    width: 100vw;
    color: #979797;

  }

  header{
    width: 100vw;
  }

  li.tab1{
    float: left;
    background-color: #ffcee3;
    padding: 10px;
  width: 100vw;
  text-align: left;
    font-size: 20px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }

  li.tab2{
    background-color: #ceeaff;
    padding: 10px;
    float: left;
  width: 100vw;
  text-align: left;
    font-size: 20px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    }

  li.tab3{
    background-color: #cefff2;
    padding: 10px;
    float: left;
  width: 100vw;
    text-align: left;
    font-size: 20px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    }

  li.tab4{
    background-color: #fff9ce;
    padding: 10px;
    float: left;
  width: 100vw;
  text-align: left;
    font-size: 20px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    }

  li.tab5{
    background-color: #dcceff;
    padding: 10px;
    float: left;
  width: 100vw;;
    text-align: left;
    font-size: 20px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    }

  li.tab6{
    background-color: #ffdcce;
    padding: 10px;
    float: left;
  width: 100vw;
    text-align: left;
    font-size: 20px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    }

  .container{
    width:100%;
   }

   .container2{
     width:100%;
     overflow:hidden;
     color: black;
     background-color: #ffe8fe;
     font-size: 15px;



   }

  .container3{
    background-color: #e8fbff;
      width:100%;
      overflow:hidden;
      color: black;


    }

  .imgjuttu{
    display: none;
  }

  .containerh1{
    display: none;
  }

  .sidecontainer{

    display: none;

  }

  #showcase{
    width: 100vw;

  }
  #boxes{
    width: 100vw;
    padding-bottom: 10px;
  }
  footer{
    color:#ffffff;
    background-color:#333;
    width: 100vw;
    height: 100px;

  }
  #hide {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
	background-color:#ffffff;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
	padding:8px 8px;
	text-decoration:none;
}
  #hide:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
	background-color:#ffffff;
}
  #hide:active {
	position:relative;
	top:1px;
}



  #hide{
    display: block;
  }

}
